

<div class="container cont-abd">
  <div class="row align-items-center row-abd">
    <div class="col-md-auto">
    
                {{#each abduction.pictures}}
                    <div class="block">
                        <img class="img-placeholder" src="{{this}}"  >
                    </div>
                {{/each}}
        
    </div>
    <div class="col-md-auto">
      <container class="posts-list"> 
    <div id="abductionForm">
        <div class="block">
            <label>(longitude/latitude):</label><br>{{abduction.location.coordinates.[0]}} / {{abduction.location.coordinates.[1]}}
        </div> 
        <br>
        <div class="block">
            <label>City: </label><br>{{abduction.locationName}}
        </div>
        <br> 
        <div class="block">
            <label>Timestamp:</label><br>{{abduction.timeDate}}
        </div>
        <br>
        <div class="block">
         <a class="user-link" href="/user/{{abduction.reporter._id}}/profile">
            <label>Reporter:</label><br>{{abduction.reporter.username}}
        </a>
        </div>
        <br>
         <div class="block">
            <label>Description:</label><br>{{abduction.description}}
        </div>
        
       
    </div>
    </container>
    </div>
    {{#if canEditDelete}}
    <div class="col">
          <div class="block">
            <a class="btn btn-primary" href="/abduction/{{abduction._id}}/edit">Edit</a>
        </div>
        <div class="block">
            <a class="btn btn-primary" href="/abduction/{{abduction._id}}/delete">Delete</a>
        </div>
    </div>
    {{/if}}
  </div>
</div>
