<h1>Hello {{username}} Welcome to your Account!</h1>


<img src="{{picture}}" alt="picture of the user">
<h4>Username: {{username}}</h4>
<h4>Firstname: {{firstname}}</h4>
<h4>Lastname: {{lastname}}</h4>
<h4>Age: {{age}}</h4>
<h4>Country: {{country}}</h4>
<h4>Hobby: {{hobby}}</h4>
<h4>Have you been abducted? {{haveBeenAbducted}}</h4>
<h4>Have you been probed? {{haveBeenProbed}}</h4>
<h4>Where have you been probed? {{probeLocation}}</h4>
<h4>What experiments did they do? {{experiments}}</h4>
<h4>Please describe the Alien in detail? {{alienDescription}}</h4>
<a href="/abduction">Home</a>
<a href="/user/{{id}}/edit">Edit</a>