{{#each abductions}}
<p> 
    <div id="abductionForm">
        <div class="block">
            <label>Location (longitude/latitude):</label>{{this.location.coordinates.[0]}}/{{this.location.coordinates.[1]}}
        </div> 
        <div class="block">
            <label>Location Name: </label>{{this.locationName}}
        </div> 
        <div class="block">
            <label>Time/Date: </label>{{this.timeDate}}
        </div>
        <div class="block">
            <label>Reporter: </label>{{this.reporter.username}}
        </div>
        <div class="block">
            <label>description: </label>{{this.description}}
        </div>
        {{#each this.pictures}}
        {{#if this.pictures}}
        <div class="block">
            <img src="{{this.pictures}}" alt="Picture of abduction" width="200" height="250">
        </div>
        {{/if}}
        {{/each}}
        <div class="block">
            <a href="/abduction/{{this.id}}/edit">edit:</a>
        </div>
        <div class="block">
            <a href="/abduction/{{this.id}}/delete">delete:</a>
        </div>
        <div class="block"></div>
            <a href="/abduction/{{this.id}}">Details</a>
        </div>
    </div>
</p>
{{/each}}

<a href="/abduction/create">Add abduction</a>
