<p> 
    <div id="abductionForm">
        <div>
            <form action="/abduction/{{id}}/edit" method="post"></form>

                <div class="block">
                    <label>Location (latitude/longitude):</label><input type="text" name="longitude" value={{latitude}}></input><input type="text" value={{longitude}}></input>
                </div>

                <div class="block">
                    <label>Location Name:</label><input type="text" name="locationName" value={{locationName}}></input>
                </div>

                    <div class="block"><label>Time/Date:</label><input type="text" name="TimeDate" value={{timeDate}}></input>
                </div>

                <div class="block">
                    <label>Reporter:</label><br><input type="text" name="User" value={{reporter}}></input>
                </div>

                <div class="block">
                    <label>description:</label><input type="text" name="description" value={{description}}></input>
                </div>
                
                <div class="block">
                    <label>pictures:</label><input type="text" name="pictures" value={{pictures}}></input>
                </div>
                
                <div class="block">
                    <button>send</button>
                </div>

            </form>
        </div>
    </div>
</p>
