<p> 
    <div id="abductionForm">
        <div class="block">
            <label>Location (longitude/latitude):</label> {{location.coordinates}}/{{location.coordinates}}
        </div>
        <div class="block">
            <label>Location Name:</label>{{locationName}}
        </div>
        <div class="block">
            <label>Time/Date:</label>{{timeDate}}
        </div>
        <div class="block">
            <label>Reporter:</label>{{reporter}}
        </div>
        <div class="block">
            <label>Description:</label>{{description}}
        </div>
        {{#each pictures}}
        <div class="block">
            <img src="{{this}}" alt="Picture of abduction" width="500" height="600">
        </div>
        {{/each}}
    </div>
</p>
<a href="/abduction/{{id}}/delete">Delete</a>