{{#each abductions}}
<p> 
    <div id="abductionForm">
        <div class="block">
            <label>Location (longitude/latitude):</label>{{this.location.coordinates}}/{{this.location.coordinates}}
        </div> 
        <div class="block">
            <label>Location Name:</label>{{this.locationName}}
        </div> 
        <div class="block">
            <label>Time/Date:</label>{{this.timeDate}}
        </div>
        <div class="block">
            <label>Reporter:</label>{{this.reporter}}
        </div>
        <div class="block">
            <label>description:</label>{{this.description}}
        </div>
        <div class="block">
            <label>pictures:</label>{{this.pictures}}
        </div>
        <div class="block">
            <a href="/abduction/{{this.id}}/edit">edit:</a>
        </div>
        <div class="block">
            <a href="/abduction/{{this.id}}/delete">delete:</a>
        </div>

    </div>
    <a href="/"></a>
</p>
{{/each}}

<a href="/abduction/create">Add abduction</a>